body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #d1d1d1;
  color: #fff;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2fb44c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00ff00;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #83ff83;
}